{{#ifop view '===' "table"}}
<div class="divTableCell col-host">{{node.host}}</div>
<div class="divTableCell col-region">{{node.region}}</div>
<div class="divTableCell col-image">{{node.image}}</div>
<div class="divTableCell mdc-card__action-icons col-action">
    {{#ifop node.state '===' "running"}}
        <button data-action="stop" title="Stop" data-trigger="cardAction" data-type="{{type}}" class="icon-button icon-button-action mdc-icon-button mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-radius-unbounded">
            <i class="material-icons mdc-icon-button__icon">stop</i>
        </button>
        <button data-action="shutdown" title="Shutdown" data-trigger="cardAction" data-type="{{type}}" class="icon-button icon-button-action mdc-icon-button mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-radius-unbounded">
            <i class="material-icons mdc-icon-button__icon">power_settings_new</i>
        </button>
        {{/ifop}}
        {{#ifop node.state '===' "stopped"}}
        <button data-action="start" title="Start" data-trigger="cardAction" data-type="{{type}}" class="icon-button icon-button-action mdc-icon-button mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-radius-unbounded">
            <i class="material-icons mdc-icon-button__icon">play_circle_outline</i>
        </button>
    {{/ifop}}
</div>
<div class="divTableCell mdc-card__action-icons col-favorite">
    {{#ifop node.isFavorite '===' "true"}}
        <button data-action="isFavorite" data-value="false" data-trigger="cardAction" data-type="{{type}}" class="icon-button icon-button-action mdc-icon-button mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-radius-unbounded"
            title="Add to favorites">
            <i class="material-icons mdc-icon-button__icon">favorite</i>
        </button>
        {{/ifop}}
        {{#ifop node.isFavorite '===' "false"}}
        <button data-action="isFavorite" data-value="true" data-trigger="cardAction" data-type="{{type}}" class="icon-button icon-button-action mdc-icon-button mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-radius-unbounded"
            title="Add to favorites">
            <i class="material-icons mdc-icon-button__icon">favorite_border</i>
        </button>
    {{/ifop}}
</div>
<div class="divTableCell mdc-card__action-icons col-details">
    <button data-type="{{type}}" data-trigger="showDetails" class="icon-button icon-button-action mdc-icon-button material-icons mdc-card__action mdc-card__action--icon mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
        title="Show More">
        open_in_new
    </button>
</div>  
{{/ifop}}
{{#ifop view '===' "card"}}
<div class="mdc-card">
    <div class="card-body-padding">
        <h2 class="mdc-typography--headline6">{{node.host}}</h2>
        <div class="mdc-typography--subtitle2">Region : {{node.region}}</div>
        <div class="mdc-typography--subtitle2">Image : {{node.image}}</div>
    </div>
    <div class="mdc-card__actions">
        <div class="mdc-card__action-buttons">
            {{#ifop node.state '===' "running"}}
            <button data-action="stop" title="Stop" data-trigger="cardAction" data-type="{{type}}" class="icon-button icon-button-action mdc-icon-button mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-radius-unbounded">
                <i class="material-icons mdc-icon-button__icon">stop</i>
            </button>
            <!--<button data-action="stop" title="Force Stop" data-type="{{type}}" 
                class="icon-button icon-button-action mdc-icon-button mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-radius-unbounded">
                <i class="material-icons mdc-icon-button__icon">cloud_off</i>
            </button>-->
            <button data-action="shutdown" title="Shutdown" data-trigger="cardAction" data-type="{{type}}" class="icon-button icon-button-action mdc-icon-button mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-radius-unbounded">
                <i class="material-icons mdc-icon-button__icon">power_settings_new</i>
            </button>
            {{/ifop}}

            {{#ifop node.state '===' "stopped"}}
            <button data-action="start" title="Start" data-trigger="cardAction" data-type="{{type}}" class="icon-button icon-button-action mdc-icon-button mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-radius-unbounded">
                <i class="material-icons mdc-icon-button__icon">play_circle_outline</i>
            </button>
            {{/ifop}}
        </div>
        <div class="mdc-card__action-icons">
            {{#ifop node.isFavorite '===' "true"}}
            <button data-action="isFavorite" data-value="false" data-trigger="cardAction" data-type="{{type}}" class="icon-button icon-button-action mdc-icon-button mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-radius-unbounded"
                title="Add to favorites">
                <i class="material-icons mdc-icon-button__icon">favorite</i>
            </button>
            {{/ifop}}
            {{#ifop node.isFavorite '===' "false"}}
            <button data-action="isFavorite" data-value="true" data-trigger="cardAction" data-type="{{type}}" class="icon-button icon-button-action mdc-icon-button mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-radius-unbounded"
                title="Add to favorites">
                <i class="material-icons mdc-icon-button__icon">favorite_border</i>
            </button>
            {{/ifop}}
            <button data-type="{{type}}" data-trigger="showDetails" class="icon-button icon-button-action mdc-icon-button material-icons mdc-card__action mdc-card__action--icon mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
                title="Show More">
                open_in_new
            </button>
        </div>
    </div>
</div>
{{/ifop}}